body {
    background-color: rgb(228, 228, 179);
}

img {
    width: 250px;
    height: 250px;
}
.about-me {
    background-color: white;
    padding: 100px 50px 100px 10px;
}

.about-me-status {
    border-left: 50px;
}